<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/result.css">
    <title>QuizME - Result</title>
</head>

<body>
      <div class="container">

        <h3>Score : <%= score %>%</h3>
          <div class="result_box">
            <label><%= username %></label>
             <label>Correct : <%= correct %></label>
             <label>Incorrect : <%= incorrect %></label>
             <label>Total : <%= total %></label>
          </div>

          <button>Go Home</button>
      </div>

      <script>
        if ( window.history.replaceState ) {
          window.history.replaceState( null, null, window.location.href );
        }

        document.getElementsByTagName('button')[0].onclick = function(){
          window.location.replace('/?quiz=<%=quiz_name%>')
        }
        </script>

</body>

</html>